@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font: "DungGeunMo";
}

* {
  font-family: var(--font);
}

p.title {
  font-size: 4rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: royalblue;
}

a:visited {
  color: royalblue;
}
