@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(50, 50, 50);
  background-color: white;
  --bg: rgb(50, 50, 50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --charcoal: rgb(50, 50, 50);
  --dark-border: rgb(25, 25, 25);
  --white: rgb(200, 200, 200);
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  --color-hover: royalblue;
  --color-border: lightgray;
  --color-blue: royalblue;
  --font: "DungGeunMo";
}

div.code {
  background-color: var(--charcoal);
  color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  position: relative;
  font-family: var(--font);
}

a {
  text-decoration: none;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-border);
}

a:hover {
  background-color: var(--color-blue);
  color: white;
  border: 1px solid var(--color-blue);
}

.tag.container {
  row-gap: 10px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
}

.tag.item {
  border: 1px solid var(--color-border);
  width: 300px;
  padding: 10px;
  border-radius: 8px;
}

.tag.item:hover {
  transition: all 0.3s ease;
  border: 2px solid var(--color-blue);
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
  background-color: var(--bg);
}

table,
tbody,
tr,
th,
td,
dd,
dt,
thead,
tfoot {
  border-collapse: collapse;
  border: 1px solid;
}

.mapWrapper {
  display: flex;
  column-gap: 10px;
}

.link {
  border: none;
  color: var(--dark-border);
}

.link:hover {
  box-shadow: var(--box-shadow);
}

.bd {
  border: 1px solid;
}
